{% extends ":"~template~":base.html.twig" %}

{% block content %}

    <!-- Header -->
    <div data-section-wrapper="1" class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div data-slot-container="1" class="intro-message">

                        <div data-slot="text">
                            <h1>Hybrid Cloud Backup - as - a - Service </h1>
                            <h3>Dịch Vụ Sao lưu và khôi phục dữ liệu, kết hợp phòng chống Ransomeware</h3>
                        </div>

                        <div data-slot="separator">
                            <hr class="intro-divider" />
                        </div>

                        <div data-slot="text">
                            <p>
                                Solution công nghệ Acronis
                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <div data-section-wrapper="1" class="content-section-a">

        <div class="container">
            <div class="row">
                <div data-slot-container="1" class="col-lg-5 col-sm-6">

                    <div data-slot="separator">
                        <hr class="section-heading-spacer" />
                        <div class="clearfix"></div>
                    </div>
                    <div data-slot="text">
                        <h2 class="section-heading">Death to the Stock Photo:<br />Special Thanks</h2>
                        <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
                    </div>

                </div>
                <div data-slot-container="1" class="col-lg-5 col-lg-offset-2 col-sm-6">

                    <div data-slot="image">
                        <img class="img-responsive" src="themes/backup/img/ipad.png" alt="" />
                    </div>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div data-section-wrapper="1" class="content-section-b">

        <div class="container">

            <div class="row">
                <div data-slot-container="1" class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                    <div data-slot="separator">
                        <hr class="section-heading-spacer" />
                        <div class="clearfix"></div>
                    </div>

                    <div data-slot="text">
                        <h2 class="section-heading">3D Device Mockups<br />by PSDCovers</h2>
                        <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                    </div>

                </div>
                <div data-slot-container="1" class="col-lg-5 col-sm-pull-6  col-sm-6">

                    <div data-slot="image">
                        <img class="img-responsive" src="themes/backup/img/dog.png" alt="" />
                    </div>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div data-section-wrapper="1" class="banner">

        <div class="container">

            <div class="row">
                <div data-slot-container="1" class="col-lg-6">

                    <div data-slot="text">
                        <h2 style="font-size: 2em;">DÙNG THỬ DỊCH VỤ EXA BACKUP</h2><br/>
                        <p class="lead">
                            Nhằm tạo cho quý khách hàng cơ hội trải nghiệm chất lượng của dịch vụ, EXA mở chức năng dùng thử miễn phí.<br/>
                        </p>
                        <p class="lead">
                            Trong thời gian dùng thử khách hàng có toàn quyền thao tác trên tài khoản được cung cấp.<br/>
                        </p>
                        <p class="lead">
                            <b>Hỗ trợ khách hàng 24/27(028)73.08.59.59</b>
                        </p>
                    </div>

                </div>
                <div data-slot-container="1" class="col-lg-6">

                    <div data-slot="text">
                        <p class="lead">Add your Mautic form here</p>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer data-section-wrapper="1">
        <div class="container">
            <div class="row">
                <div data-slot-container="1" class="col-lg-12">

                    <div data-slot="text">
                        <h3>CÔNG TY TRÁCH NHIỆM HỮU HẠN EXA</h3>
                        <p>
                            Up Co-working Space - 268 Lý Thường Kiệt, phường 14, quận 10, TP. HCM
                        </p>
                        <p>
                            Hotline: 0938.298.278 - 0911.385.775
                        </p>
                        <p>
                            <a href="https://exa.vn" target="_blank">www.exa.vn</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ getAssetUrl('themes/'~template~'/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ getAssetUrl('themes/'~template~'/js/bootstrap.min.js') }}"></script>

{% endblock %}
